In [1]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt

In [7]:
df = pd.read

TypeError: TypeError: read_sql_query() missing 1 required positional argument: 'con'

In [34]:
#This is just putting data from the internet into a pandas dataframe
df = pd.read_json("https://data.smcgov.org/resource/mb6a-xn89.json")

df

,geography,geography_type,year,less_than_high_school_graduate,high_school_graduate,some_college_or_associate_s_degree,bachelor_s_degree_or_higher,location_1,:@computed_region_uph5_8hpn,:@computed_region_i2t2_cryp
0,Atherton,Town,2014-01-01T00:00:00.000,13.6,12.3,2.7,3.5,"{'type': 'Point', 'coordinates': [-122.2, 37.4...",2.0,28596
1,Colma,Town,2014-01-01T00:00:00.000,6.3,6.4,10.4,2.4,"{'type': 'Point', 'coordinates': [-122.455556,...",4.0,28588
2,Foster City,City,2014-01-01T00:00:00.000,11.9,9.7,2.0,2.9,"{'type': 'Point', 'coordinates': [-122.266389,...",6.0,319
3,Portola Valley,Town,2014-01-01T00:00:00.000,48.1,0.0,0.0,1.8,"{'type': 'Point', 'coordinates': [-122.218611,...",14.0,28597
4,Redwood City,City,2014-01-01T00:00:00.000,16.4,10.6,6.6,3.0,"{'type': 'Point', 'coordinates': [-122.236111,...",21.0,28607
5,Ladera,CDP,2014-01-01T00:00:00.000,0.0,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.274167,...",27.0,28591
6,Moss Beach,CDP,2014-01-01T00:00:00.000,4.8,8.2,9.3,3.5,"{'type': 'Point', 'coordinates': [-122.512778,...",30.0,28600
7,South San Francisco,City,2014-01-01T00:00:00.000,14.2,7.8,4.4,4.1,"{'type': 'Point', 'coordinates': [-122.425556,...",19.0,28613
8,Belmont,City,2014-01-01T00:00:00.000,20.9,5.9,5.0,3.6,"{'type': 'Point', 'coordinates': [-122.291667,...",15.0,28585
9,Daly City,City,2014-01-01T00:00:00.000,13.4,8.9,6.1,6.1,"{'type': 'Point', 'coordinates': [-122.468333,...",NaN,28588
10,San Mateo,City,2014-01-01T00:00:00.000,16.1,9.6,6.5,3.4,"{'type': 'Point', 'coordinates': [-122.313056,...",13.0,317
11,North Fair Oaks,CDP,2014-01-01T00:00:00.000,26.7,13.4,18.5,4.6,"{'type': 'Point', 'coordinates': [-122.203611,...",31.0,28608
12,Emerald Lake Hills,CDP,2014-01-01T00:00:00.000,6.2,2.0,4.1,2.2,"{'type': 'Point', 'coordinates': [-122.266389,...",24.0,28607
13,Hillsborough,Town,2014-01-01T00:00:00.000,31.1,6.1,1.5,1.4,"{'type': 'Point', 'coordinates': [-122.356389,...",8.0,28587
14,Brisbane,City,2014-01-01T00:00:00.000,0.0,1.7,11.5,3.3,"{'type': 'Point', 'coordinates': [-122.419167,...",NaN,28586
15,Menlo Park,City,2014-01-01T00:00:00.000,22.1,12.0,8.7,2.9,"{'type': 'Point', 'coordinates': [-122.183333,...",12.0,28595
16,Pacifica,City,2014-01-01T00:00:00.000,15.1,4.3,4.3,4.6,"{'type': 'Point', 'coordinates': [-122.485556,...",9.0,28604
17,San Carlos,City,2014-01-01T00:00:00.000,8.5,8.4,4.4,2.3,"{'type': 'Point', 'coordinates': [-122.2668, 3...",18.0,28611
18,Highlands-Baywood Park,CDP,2014-01-01T00:00:00.000,15.7,13.6,10.2,3.3,"{'type': 'Point', 'coordinates': [-122.343333,...",25.0,317
19,East Palo Alto,City,2014-01-01T00:00:00.000,18.3,16.4,17.2,9.1,"{'type': 'Point', 'coordinates': [-122.139722,...",5.0,312
20,Broadmoor,CDP,2014-01-01T00:00:00.000,21.2,8.0,3.0,2.4,"{'type': 'Point', 'coordinates': [-122.478889,...",22.0,28589
21,Millbrae,City,2014-01-01T00:00:00.000,7.0,7.8,5.3,3.7,"{'type': 'Point', 'coordinates': [-122.401389,...",11.0,28598
22,Loma Mar,CDP,2014-01-01T00:00:00.000,100.0,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.3075, 3...",28.0,28592
23,Woodside,Town,2014-01-01T00:00:00.000,0.0,9.4,6.8,3.2,"{'type': 'Point', 'coordinates': [-122.259722,...",20.0,28607
24,Half Moon Bay,City,2014-01-01T00:00:00.000,9.5,4.0,0.7,1.4,"{'type': 'Point', 'coordinates': [-122.436944,...",7.0,28590
25,San Bruno,City,2014-01-01T00:00:00.000,7.7,7.7,7.0,3.0,"{'type': 'Point', 'coordinates': [-122.425278,...",1.0,28610
26,Pescadero,CDP,2014-01-01T00:00:00.000,44.4,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.381389,...",32.0,28605
27,El Granada,CDP,2014-01-01T00:00:00.000,9.2,4.3,9.1,2.4,"{'type': 'Point', 'coordinates': [-122.473333,...",23.0,28590
28,West Menlo Park,CDP,2014-01-01T00:00:00.000,37.8,0.0,5.7,3.6,"{'type': 'Point', 'coordinates': [-122.203056,...",34.0,28595
29,Montara,CDP,2014-01-01T00:00:00.000,3.3,0.0,0.0,0.0,"{'type': 'Point', 'coordinates': [-122.506389,...",29.0,28599
30,Burlingame,City,2014-01-01T00:00:00.000,20.1,8.3,7.4,3.7,"{'type': 'Point', 'coordinates': [-122.363611,...",16.0,28587
31,La Honda,CDP,2014-01-01T00:00:00.000,0.0,0.0,11.9,0.0,"{'type': 'Point', 'coordinates': [-122.197222,...",26.0,28597

In [12]:
df.describe()

,less_than_high_school_graduate,high_school_graduate,some_college_or_associate_s_degree,bachelor_s_degree_or_higher,:@computed_region_uph5_8hpn,:@computed_region_i2t2_cryp
count,32.00000,32.000000,32.000000,32.000000,30.000000,32.000000
mean,17.80000,6.462500,5.946875,2.856250,17.733333,25062.093750
std,19.29944,4.693905,4.728430,1.873919,9.762466,9502.711577
min,0.00000,0.000000,0.000000,0.000000,1.000000,312.000000
25%,6.82500,1.925000,2.525000,2.100000,9.500000,28587.750000
50%,13.90000,7.750000,5.500000,3.000000,18.500000,28595.000000
75%,20.97500,9.450000,8.800000,3.600000,25.750000,28604.250000
max,100.00000,16.400000,18.500000,9.100000,34.000000,28613.000000

In [33]:
df = pd.read_excel("Sample sale data")
df

,OrderDate,Region,Rep,Item,Units,Unit Cost,Total
0,2019-01-06,East,Jones,Pencil,95,1.99,189.05
1,2019-01-23,Central,Kivell,Binder,50,19.99,999.50
2,2019-02-09,Central,Jardine,Pencil,36,4.99,179.64
3,2019-02-26,Central,Gill,Pen,27,19.99,539.73
4,2019-03-15,West,Sorvino,Pencil,56,2.99,167.44
5,2019-04-01,East,Jones,Binder,60,4.99,299.40
6,2019-04-18,Central,Andrews,Pencil,75,1.99,149.25
7,2019-05-05,Central,Jardine,Pencil,90,4.99,449.10
8,2019-05-22,West,Thompson,Pencil,32,1.99,63.68
9,2019-06-08,East,Jones,Binder,60,8.99,539.40
10,2019-06-25,Central,Morgan,Pencil,90,4.99,449.10
11,2019-07-12,East,Howard,Binder,29,1.99,57.71
12,2019-07-29,East,Parent,Binder,81,19.99,1619.19
13,2019-08-15,East,Jones,Pencil,35,4.99,174.65
14,2019-09-01,Central,Smith,Desk,2,125.00,250.00
15,2019-09-18,East,Jones,Pen Set,16,15.99,255.84
16,2019-10-05,Central,Morgan,Binder,28,8.99,251.72
17,2019-10-22,East,Jones,Pen,64,8.99,575.36
18,2019-11-08,East,Parent,Pen,15,19.99,299.85
19,2019-11-25,Central,Kivell,Pen Set,96,4.99,479.04
20,2019-12-12,Central,Smith,Pencil,67,1.29,86.43
21,2019-12-29,East,Parent,Pen Set,74,15.99,1183.26
22,2020-01-15,Central,Gill,Binder,46,8.99,413.54
23,2020-02-01,Central,Smith,Binder,87,15.00,1305.00
24,2020-02-18,East,Jones,Binder,4,4.99,19.96
25,2020-03-07,West,Sorvino,Binder,7,19.99,139.93
26,2020-03-24,Central,Jardine,Pen Set,50,4.99,249.50
27,2020-04-10,Central,Andrews,Pencil,66,1.99,131.34
28,2020-04-27,East,Howard,Pen,96,4.99,479.04
29,2020-05-14,Central,Gill,Pencil,53,1.29,68.37
30,2020-05-31,Central,Gill,Binder,80,8.99,719.20
31,2020-06-17,Central,Kivell,Desk,5,125.00,625.00
32,2020-07-04,East,Jones,Pen Set,62,4.99,309.38
33,2020-07-21,Central,Morgan,Pen Set,55,12.49,686.95
34,2020-08-07,Central,Kivell,Pen Set,42,23.95,1005.90
35,2020-08-24,West,Sorvino,Desk,3,275.00,825.00
36,2020-09-10,Central,Gill,Pencil,7,1.29,9.03
37,2020-09-27,West,Sorvino,Pen,76,1.99,151.24
38,2020-10-14,West,Thompson,Binder,57,19.99,1139.43
39,2020-10-31,Central,Andrews,Pencil,14,1.29,18.06
40,2020-11-17,Central,Jardine,Binder,11,4.99,54.89
41,2020-12-04,Central,Jardine,Binder,94,19.99,1879.06
42,2020-12-21,Central,Andrews,Binder,28,4.99,139.72

In [45]:
df = pd.read_excel("Sample sale data")

df.Total.mean()

456.46232558139553

In [27]:
df = pd.read_excel("Sample sale data")

df.Units.mean()

49.325581395348834

In [17]:
df = pd.read_excel("Sample sale data")

fig = px.bar(df, x="OrderDate", y="Units", color="Item")
fig.show()

Unsupported

In [40]:
df = pd.read_excel("Sample sale data")

fig = px.scatter(df, x="OrderDate", y="Total", color="Rep", size="Units")
fig.show()

Unsupported